doctype html
html(lang="en")
	head
	title= "Night City Ride"
	link(rel='stylesheet', href='/css/style.css')
	meta(charset="utf-8")
	body()
		#left
			h1 Night City Ride 
			h2 An interactive art piece written in processing.js
			p A car approaches the city through an empty road during the night. The engine sound is the only sound you can hear as the city lights start appearing in the horizon.
			| Inspired by the 90's videogames and Kavinsky's music,"Night City Ride" is a visual interactive piece of art made for the Programa La Plaza 2014 event held at Medialab-Prado, Madrid.
			| The goal of the event is designing and coding a small processing sketch to be played on a huge LED screen some nights during 2014 and 2015.<br /><br />
			| These are the most significant features:
			ul
				li
					<b>Tweet displaying:</b> The sketch connects to a NodeJS app that serves the latest tweets containing the hashtag #nightcityride, then the latest tweets will appear flying through in prespective from the background city.
				li
					<b>Procedural generated graphics:</b> Each time the scene loads, it will take a random seed and use it for generating several things like the color scheme, the stars positioning and color or the building shape and number, this way every scene is different and unique.
		#right
			p Watch it running:
			video#fgvid(width="320" height="240" controls)
				source(src="video/night.webm" type="video/webm")
				source(src="video/night.mp4" type="video/mp4")
			br
			p Check the client code and try it live:
			a(href="http://programalaplaza.medialab-prado.es/#/editor/9c29710a-af27-4e8f-a14a-9099d41a50b0")
				p.codelink Client code
			p Check the server code on github:
			a(href="https://github.com/namelivia/nightcityride-server")
				p.codelink Server code
		
		video#bgvid(autoplay loop)
			source(src="video/night.webm" type="video/webm")
			source(src="video/night.mp4" type="video/mp4")
